/* Reset margin styles */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --gradient: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.about-hero-container {
  background: var(--navy-blue);
  width: 100%;
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.adress {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.page-nav {
  display: flex;
}

/* Logo */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-link-span {
  color: var(--navy-blue);
  margin-right: 76px;
}
.logo-portfolio-span {
  color: var(--cloud);
}

/* Menu */
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  gap: 40px;
}

.menu-link:hover {
  color: var(--ocean);
}
.menu-link:focus {
  color: var(--ocean);
}

/* Contact */

.contact-list {
  gap: 40px;
  display: flex;
  align-items: center;
}
.contact-li {
  margin: auto;
}
.contact-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-item:hover {
  color: var(--ocean);
}
.contact-item:focus {
  color: var(--ocean);
}

/* HERO section 1 */

.hero-wraper .about-hero-container {
  background: var(--navy-blue);
  /* background-image: var(--gradient), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1; */
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: auto;
  max-width: 496px;
}

.hero-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--iris);

  display: block;
  padding: 16px 32px 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.hero-button:hover {
  color: var(--cornflower);
  background-color: var(--ocean);
}
.hero-button:focus {
  color: var(--cornflower);
  background-color: var(--ocean);
}
/* section 2 */
.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-section-list {
  gap: 22px;
  display: flex;
}
.second-section-li {
  flex-basis: calc((100%-72 px) / 4);
}

.second-section-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.second-section-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/* section 3 */
.third-section {
  padding-bottom: 120px;
}
.third-section-title {
  margin-bottom: 72px;
}
.third-section-pic {
  max-width: 100%;
  height: auto;
}
.third-section-item {
  width: calc((100% - 48px) / 3);
}
.third-section-list {
  display: flex;
  gap: 24px;
}
.third-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* section 4 */
.fourth-section {
  padding-top: 120px;
  padding-bottom: 72px;
}
.fourth-section-list {
  display: flex;
  gap: 24px;
}
.fourth-section {
  background-color: var(--cloud);
  padding-bottom: 120px;
}
.fourth-section-pic {
  max-width: 100%;
  height: auto;
}
.background {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
}
.fourth-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.fourth-section-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.fourth-section-profession {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit;
  margin-top: 8px;
  margin-bottom: 8px;
}
.fourth-section-text {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
}

/* Social media links */

.fourth-section-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.fourth-section-soc-item {
  width: 40px;
  height: 40px;
}
.fourth-section-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: inline-block;
}
/* footer */
.footer {
  background: var(--navy-blue);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.logo-link-span-footer {
  color: var(--cloud);
}
.footer-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
  margin-top: 17.5px;
}

/* PORTFOLIO PAGE */
/* HEADER */
.hidden-menu {
  display: none;
}

/* Filters */
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;

  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 12px 24px 12px 24px;
}

.filters-button:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.filters-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Gallery */

.menu-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.gallery-list li {
  width: calc((100% - 48px) / 3);
}
.gallery-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.gallery-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-top: 8px;
}
